* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 5vh 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

header {
  padding-left: 15%;
  h1 {
    font-size: 3.5em;
  }
  p {
    text-indent: 3rem;
  }
}

main {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  img {
    width: 20%;
    height: auto;
    margin-bottom: 3rem;
    margin-right: 3rem;
  }
}
