nav {
  width: 100%;
  .topNav {
    width: 100%;
    padding: 5px;
    height: 1.5em;
    background-color: #fff;
    text-align: center;
    p {
      margin: 0;
      padding: 0;
      color: #4367a3;
    }
  }
  .bottomNav {
    width: 100%;
    height: 50px;
    height: 55px;
    background-image: linear-gradient(rgb(0, 61, 165) 0%, rgb(0, 37, 99) 100%);
  }
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  // background-image: url('../img/mockup.png');
  // background-position-y: -37px;
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 5em;
  overflow-x: hidden;
  // opacity: 0.5;
  .breadCrumbs {
    width: 100%;
    display: flex;
    padding: 5px;
    p {
      padding: 0;
      margin: 0;
    }
    a,
    p {
      margin-right: 2vw;
      text-decoration: none;
      font-style: italic;
      color: #4367a3;
      .fas {
        margin-left: 8px;
        font-size: 0.8em;
        font-weight: 700;
      }
    }
  }
  .imageWrapper {
    margin-top: 5px;
    width: 100%;
    height: 380px;
    position: relative;
    img {
      width: auto;
      height: 95%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .saleTag {
      padding: 7px 17px 7px 10px;
      margin: 0;
      background-color: #b40101;
      position: absolute;
      top: 2px;
      right: 0;
      color: #fff;
      font-size: 0.9em;
    }
    .altCount {
      font-size: 0.8em;
      color: #fff;
      background-color: #3f3f3f;
      position: absolute;
      bottom: 2px;
      right: 3%;
      padding: 4px 7px;
      border-radius: 5px;
      font-style: italic;
    }
  }
  .altImages {
    position: relative;
    height: 100px;
    left: 10px;
    overflow: hidden;
    padding-left: 5px;
    z-index: 200;
    .imagesWrap {
      padding-left: 5px;
      padding-top: 9px;
      height: 100%;
      min-width: 100%;
      display: flex;
      overflow: hidden;
      left: 0;
      img {
        margin-right: 25px;
        height: 80px;
        width: 80px;
      }
    }
  }

  .itemDetails {
    color: #003da3;
    width: 100%;
    margin-top: 0;
    position: relative;
    padding-top: 9px;
    .selectBox {
      width: calc(100% - 20px);
      height: 2em;
      display: flex;
      align-items: center;
      border: 1px solid #000;
      border-radius: 25px;
      margin: 0 auto;
      .selectTitle {
        background-color: #003da3;
        color: #fff;
        text-align: center;
        border-radius: 25px;
        width: 75px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;
        h2 {
          margin: 0;
          padding: 0;
          font-size: 1em;
        }
      }
      .selection {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
        h2 {
          margin: 0;
          padding: 0;
          font-size: 1.1em;
        }
      }
      .arrow {
        margin-top: 6px;
      }
    }
    .colorSection {
      margin-bottom: 20px;
    }
    .sizeSection {
      margin-bottom: 20px;
    }
    .lastSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      height: 100%;
      .selectBox {
        width: 48%;
        margin: 0;
        .selection {
          width: 35%;
        }
      }
      button {
        width: 46%;
        height: 2.45em;
        border: none;
        background: linear-gradient(180deg, #ff6800 0%, #d26323 100%);
        color: #fff;
        border-radius: 19px;
        font-size: 1.1em;
        padding: 11px;
      }
    }
  }
  .price {
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 37%;
    &.sale {
      color: #b40202;
    }
    .currentPrice {
      display: flex;

      h2 {
        margin: 0;
        padding: 0;
        font-size: 2.1em;
      }
      span {
        font-size: 1.3em;
        padding: 2px 0 0 1px;
      }
    }
    .originalPrice {
      text-decoration: line-through;
      color: #717171;
    }
  }
  .saleDetail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    background-color: #b40202;
    padding: 8px 10px;
    margin-top: 1rem;
  }
  .findItem {
    width: 75%;
    margin: 14px auto 0 auto;
    display: flex;
    justify-content: center;
    .btn {
      width: 86%;
      background-color: transparent;
      border: 2px solid #357f2a;
      color: #357f2a;
      border-radius: 19px;
      padding: 3px 4px;
      .fa {
        margin-right: 8px;
      }
    }
  }
  .reviewsHeader {
    width: 100%;
    margin-top: 20px;
    .reviewTitle {
      padding: 0 10px;
      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-style: solid;
        border-width: 2px 0;
        border-color: #e7e7e7;
        background-color: transparent;
        div {
          display: flex;
          justify-content: flex-start;
          flex-grow: 1;
          margin: 0.6rem 0;
          align-items: center;
          p {
            margin-right: 1rem;
            font-weight: 700;
          }
          img {
            width: 32%;
            height: auto;
            flex-shrink: 1;
          }
        }
        .reviewArrow {
          color: #4367a3;
          margin-left: auto;
          flex-shrink: 1;
          font-weight: 700;
          transition: all 0.6s ease;
          &.expanded {
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }
  .reviewSection {
    margin-top: 10px;
    width: 100%;
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;

    &.expanded {
      max-height: 4900px;
    }
    .review {
      padding: 10px 20px;
      max-height: 200px;
      position: relative;
      padding-bottom: 50px;
      overflow: hidden;
      transition: all 0.6s ease;
      .titleEl {
        font-weight: 700;
        margin-bottom: 10px;
      }
      .descriptionEl {
        max-height: 165px;
        transition: max-height 0.6s ease;
        overflow: hidden;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 250px;
        width: 100%;
        z-index: 200;
        background-image: linear-gradient(transparent 0, white 65%);
        transition: all 0.3s ease;
        opacity: 1;
      }
      .seeFull {
        position: absolute;
        top: 170px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #003da3;
        border-radius: 19px;
        color: #fff;
        z-index: 300;
        transition: all 0.5s ease;
      }
      &.expanded {
        max-height: 900px;
        position: relative;
        &:after {
          width: 100%;
          position: absolute;
          bottom: 25px;
          height: 2px;
          background-color: #3f3f3f;
          opacity: 75%;
          left: 50%;
          transform: translateX(-50%);
          content: '';
        }
        .descriptionEl {
          max-height: 1900px;
        }
        .overlay {
          max-height: 900px;
          opacity: 0;
        }
        .seeFull {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}
